<div cdkDropList class="tab-container" cdkDropListOrientation="horizontal" (scroll)="checkForArrow()"
  (cdkDropListDropped)="drop($event)" #tab>
  <div *ngFor="let tab of tabs; let i = index" cdkDrag>
    <div>
      <app-tab (tabAction)="tabAction($event)" (click)="selectTab(i)" [tabName]="tab" [index]="i"></app-tab>
      <div [ngClass]="isSelected(i)? 'selectedTab' : ''"></div>
    </div>
  </div>
  <div class="add" (click)="addTab()">+</div>
</div>
<img class="arrow left-arrow" src="../assets/chevron-left.svg" *ngIf="showLeftArrow()" (click)="leftDrag()"
  width="10px">
<img class="arrow right-arrow" src="../assets/chevron-right.svg" *ngIf="showRightArrow()" (click)="rightDrag()"
  width="10px">
<app-tab-container [tabName]="tabs[selectedTabIndex]"></app-tab-container>