.container {
    height: 300px;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-style: dashed;
    font-size: 28px;
    font-family: sans-serif;
    align-items: center;
    border: 1px solid #dadada;
}